.services-and-salons-main .items-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20vw,1fr));
    /* padding: 5vw; */
    gap: 2%;
    width: 90vw;
    margin: auto 5vw;
    margin-bottom: 25vh;
}
.services-and-salons-main > h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}